---
import Header from "../components/Header";
import logo from '/logo-gold.svg'
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="De Leon's Power Wash and Bin Cleaning">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logo} />
		<meta name="generator" content={Astro.generator} />
		<title>De Leon's Power Wash and Bin Cleaning</title>
	</head>
	<body>
		<Header client:only="react"/>
		<slot />
	</body>
</html>
